.top-bar {
  /* display: flex; */
  overflow:auto;
}
.left {
  float:left;
  padding-left:8em;
}
.right {
  float: right;
  padding-right:8em;
  display: flex;
}

main {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}