.top-bar {
  overflow:auto;
}
.left {
  float:left;
  padding-left:8em;
}
.right {
  float: right;
  padding-right:8em;
  display: flex;
}

#countdown {
  padding-top: 1.25em;
  padding-left: 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  margin: auto;
  width: 50%;
  padding: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%,20%);
}

.container {
  width: 800px;
  max-width: 80%;
  padding: 10px;
}



.btn-grid {
  display: grid;
  gap: 10px;
  margin: 1em;
  margin-left: 0em;
}

.btn {
  --hue: var(--hue-neutral);
  background-color: rgb(59, 41, 160);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  outline:none
}

.btn:hover {
  background-color: rgb(204, 99, 178);
}

.start-btn {
  font-size: 1.5rem;

}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-box {
  display: flex;
}

.final-score {
  padding-left: 1em;
}

.hide {
  display: none;
}
